.nav {
  box-shadow: var(--shadow-md);
  position: fixed;
  inset: 0;
  padding: var(--space-6) 0;
  height: 90px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-12);
}

.links {
  display: flex;
  gap: var(--space-12);
  text-decoration: none;
  list-style: none;
  padding: var(--spacing-6);
  font-size: var(--font-size-md);
}
.link {
  padding: var(--space-3);
  border-radius: var(--radius-md);
}
/* @media (max-width: var(--container-md)) {
  html {
    background-color: aqua;
  }
} */
