.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #f9f9f9;
}

.header > h1 {
  background: linear-gradient(90deg, rgb(70, 55, 55), rgb(44, 27, 27));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.announcementGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* announcement card */
.announcementCard {
  /* background-color: rgb(211, 211, 211); */
  box-shadow: var(--shadow-md);
  /* padding: 20px; */
  animation: slideIn 0.5s ease-in-out;
  border-radius: var(--radius-md);
  overflow: hidden;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  backdrop-filter: var(--blur-md);
  position: relative;
  padding: 20px;
}
.banner {
  width: 100%;
  height: 200px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:hover {
  opacity: 0.9;
  transition: var(--transition-fast);
}

.announcementContent {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  margin-top: 25px;
}
.announcementContent > h2 {
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}
.announcementContent > p {
  margin: 0;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
  white-space: pre-line;
}
.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.meta {
  background-color: rgb(251, 252, 252);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}
.attachments {
  margin-top: 15px;
}
.attachments > h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.attachments > ul {
  list-style: none;
  padding-left: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.attachments > ul > li {
  margin-bottom: 5px;
}
.attachments > ul > li > a {
  color: #1a73e8;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 18px;
  }
}
